{% extends "layout.html" %}
{% block body %}


        <div class="container-fluid bg-primary py-5 mb-5 hero-header " style="height:95px">
<!--            <div class="container py-5">-->
<!--                <div class="row justify-content-center py-5">-->
<!--                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">-->
<!--                        <h1 class="display-3 text-white animated slideInDown">Our Plans</h1>-->
<!--                        <nav aria-label="breadcrumb">-->
<!--                            <ol class="breadcrumb justify-content-center">-->
<!--                                <li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--&lt;!&ndash;                                <li class="breadcrumb-item"><a href="#">Pages</a></li>&ndash;&gt;-->
<!--                                <li class="breadcrumb-item text-white active" aria-current="page">Our Plans</li>-->
<!--                            </ol>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>



{% if tbl_data %}
    <h3 class="text-center py-3"> Recommendations </h3>
    <div id="carouselExampleControls" class="carousel">
    <div class="carousel-inner">
        {% for item in tbl_data %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="card">
                <div class="img-wrapper"><img src="static/img/{{item.image_name}}" class="d-block w-100" alt="No Picture Found"> </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.trip_title}}</h5>
                    <p class="card-text">{{item.trip_details}}</p>
                    <form>
                        <button formmethod="post" formaction="/recommdirection" name="rec_id" value="{{item.recommendation_id}}" type="submit" class="btn btn-primary">View More</button>
                    </form>
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endif %}



        <!-- Service Start-->
    {% if found == "found" %}
        <div class="container-fluid py-5">
            <h1 class="text-center">Details about :- {{direc_data.trip_title}} </h1>
            <p class="px-5 py-3">{{direc_data.trip_details}}</p>
            <div class="container-fluid py-3">
                    <div id="output-area" style="background-color: #e0f2f1;">
                        <div class="py-4">
                            <form id="generate-tour" method="post">
                                <div class="form-check-group d-flex flex-wrap py-3">
                                    {% for fort in fortsname %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="{{fort[1]}}" value="{{fort[0]}}" name="selected_checkbox">
                                            <label class="form-check-label" for="{{fort[1]}}">{{fort[1]}}</label>
                                        </div>
                                    {% endfor %}
                                </div>


                                <div class="col d-flex flex-wrap justify-content-center">
                                        <div class="d-flex flex-wrap justify-content-between">
                                            <div class="form-group mb-2 ms-2">
                                                <label for="milage">Vehicle Milage: </label>
                                                <input type="text" id="milage" name="milage" placeholder="20" style="width:60px;">
                                            </div>
                                            <div class="form-group mb-2 ms-2">
                                                <label for="liter">Cost Per Liter: </label>
                                                <input type="text" id="liter" name="p_liter" placeholder="104.89" style="width:60px;">
                                            </div>
                                        </div>
                                </div>

                                <div class="position-relative w-50 mx-auto row">
                                    <div class="col d-flex justify-content-center align-items-center mt-3">
                                        <a id="get-user-location" class="icon-link icon-link-hover px-3" type="button" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                        </svg>use current location</a>
                                        <span id="user-loc-animation" style="display: none;">
                                        </span>
                                    </div>

                                    <div id="user-loc" class="col d-flex justify-content-center align-items-center mt-2">
                                        <button onclick="showLoading()" type="submit" class="btn btn-primary rounded-pill py-2 px-4 top-0 end-0 me-2" style="margin-top: 7px;" form="generate-tour" formaction="/recommgenerateplan">Generate Plan</button>
                                        <div id="loading-animation" style="display: none;">
                                            <div class="ring">Generating Plan
                                                <span class="sring"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>




    <!-- Service End -->


    <!--gives alert if user enters wrong district-->
<!--    {% elif found == "nodata" %}-->
<!--        <div class="alert alert-dark" role="alert">-->
<!--            No Data Found !!!  Please fill the correct district name......-->
<!--        </div>-->


    {% elif ltlg == "nolocation" %}
        <div class="alert alert-dark" role="alert">
            No Location Found !!!  Please click on use current location next time and then generate plan......
        </div>
        {% if fort_sel == "none" %}
        <div class="alert alert-dark" role="alert">
            No Selected Fort Found !!! Please select forts you want to visit next time and then generate plan......
        </div>
        {% endif %}


    {% elif fort_sel == "none" %}
        <div class="alert alert-dark" role="alert">
            No Selected Fort Found !!! Please select forts you want to visit next time and then generate plan......
        </div>


    <!-- tried inheritance but as the start it checks if it is found and does not execute the query, goes directly to else-->
    <!--Shown when user submits fort and personal location-->
    {% elif triggerplan == "trigger" %}
        <div class="container-fluid">
            <h1 class="text-center">This is generated plan...</h1>
<!--            <form id="my-form">-->
            {% for plan, item in info_box|zip(items) %}
                    <div class="container py-3 px-3">
                        <div class="cust-container {% if loop.index % 2 == 0 %}slide-in-left{% else %}slide-in-right{% endif %}">
                            <span><h1>From {{plan[0]}} to {{plan[1]}}</h1></span>
                            <span><h1>Distance : {{plan[2]}}</h1></span>
                            <span><h1>Travel Time : {{plan[3]}}</h1></span>
                            <span><h1>{{plan[4]}}</h1></span>
                            <span><h1>{{plan[5]}}</h1></span>
                            <span><button type="button" data-item="{{item}}" class="btn btn-primary" onclick="showDirections(this)">Go To Maps</button></span>
                        </div>
                    </div>
            {% endfor %}
<!--            </form>-->
        </div>
        <div id="direction-animation" style="display: none;">
            <div class="direction"></div>
        </div>

        <div class="container-fluid">
            <div class="para-container">
                <div class="animated-content py-3 px-3">
                <h4 class="text-center">Total time on road trip will be {{total_travel_time}}. </h4>
                {% if estimated_days == 1 %}
                    <h4 class="text-center">Estimated days required to complete this trip are {{estimated_days}} day.</h4>
                {% elif estimated_days > 1 %}
                    <h4 class="text-center">Estimated days required to complete this trip are {{estimated_days}} days.</h4>
                {% endif %}
                    <h4 class="text-center">Estimated total fuel requirement for total planed trip is {{total_f_c[0]}} liters.</h4>
                    <h4 class="text-center">Estimated minimum travel expense for total planed trip is ₹{{total_f_c[1]}}.</h4>
                <h3 class="text-center">HAVE A NICE TRIP......</h3>
                </div>
            </div>
        </div>


    <!--  Default rendered -->
    {% else %}
    <div class="container-fluid px-5 py-5">
        {% if planned_trips %}
        <h5 class="text-center py-2">All Planned Trips</h5>
        <div class="table-responsive sticky-header " style="height:400px">
            <table class="table table-hover table-bordered caption-top">
                <thead>
                <tr class="text-dark">
                    <th class="text-center" scope="col">Trip ID</th>
                    <th class="text-center" scope="col">District</th>
                    <th class="text-center" scope="col">Fort Names</th>
                    <th class="text-center" scope="col">Required Time</th>
                    <th class="text-center" scope="col">Travel Cost</th>
                    <th class="text-center" scope="col">Date</th>
                </tr>
                </thead>

                <tbody>
                {% for trip in planned_trips %}
                <tr>
                    <td class="text-center" scope="row">{{trip.trip_id}}</td>
                    <td class="text-center" scope="row">{{trip.trip_district}}</td>
                    <td class="text-center" scope="row">{{trip.forts_visited}}</td>
                    <td class="text-center" scope="row">{{trip.required_time}}</td>
                    <td class="text-center" scope="row">{{trip.minimum_cost}}</td>
                    <td class="text-center" scope="row">{{trip.date}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    {% endif %}








{% endblock %}


